<main>
  <div class="container">
      <% if @user_info.errors.any? %>
    <div id="error_explanation">
      <h3><%= @user_info.errors.count %> error prohibited this obj from being saved:</h3>
      <% @user_info.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>User info</h2>
        <!--formタグになる-->
        <%= form_with model:@user_info, local:true do |f| %>
          <div class="form-group">
            <p>Name</p>
            <%= f.text_field :name %>
          </div>
          <div class="form-group">
            <p>Image</p>
            <%= f.attachment_field :profile_image %>
          </div>
          <div class="form-group">
            <%= f.text_field :introduction %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update User' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>